@import url("fontawesome-all.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,600,600italic");


html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	-webkit-text-size-adjust: none;
}

mark {
	background-color: transparent;
	color: inherit;
}

input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input, select, textarea {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
}

/* Basic */

	html {
		box-sizing: border-box;
		overflow-y: scroll;
	}

	*, *:before, *:after {
		box-sizing: inherit;
	}

	body {
		background: #444343 url("images/bg01.png");
	}

		body.is-preload *, body.is-preload *:before, body.is-preload *:after {
			-moz-animation: none !important;
			-webkit-animation: none !important;
			animation: none !important;
			-moz-transition: none !important;
			-webkit-transition: none !important;
			transition: none !important;
		}

	body, input, select, textarea {
		color: #ffffff;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 16pt;
		font-weight: 300;
		line-height: 1.65em;
	}

	a {
		-moz-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
		-webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
		transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
		color: #333;
		text-decoration: none;
		border-bottom: dotted 1px;
	}

		a:hover {
			color: #333;
			border-bottom-color: transparent;
		}

	strong, b {
		font-weight: 600;
	}

	em, i {
		font-style: italic;
	}

	p, ul, ol, dl, table, blockquote {
		font-size: 1em;
	}

	h1, h2, h3, h4, h5, h6 {
		color: inherit;
		font-weight: 600;
		line-height: 1.75em;
		margin-bottom: 1em;
	}

		h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
			color: inherit;
			text-decoration: none;
		}

		h1 em, h2 em, h3 em, h4 em, h5 em, h6 em {
			font-style: normal;
			font-weight: 300;
		}

	h2 {
		font-size: 1.75em;
		letter-spacing: -0.025em;
	}

	h3 {
		font-size: 2em;
		letter-spacing: -0.025em;
	}

	sub {
		font-size: 0.8em;
		position: relative;
		top: 0.5em;
	}

	sup {
		font-size: 0.8em;
		position: relative;
		top: -0.5em;
	}

	hr {
		border-top: solid 1px #e0e0e0;
		border: 0;
		margin-bottom: 1.5em;
	}

	blockquote {
		border-left: solid 0.5em #e0e0e0;
		font-style: italic;
		padding: 1em 0 1em 2em;
	}

	/* Reduce the space below the h3 headings within the .highlight class */
	.highlight h3 {
		margin-bottom: 0em; /* Half the default space */
	}

	/* Reduce the space above the paragraphs within the .highlight class */
	.highlight p {
		margin-top: 0em; /* Half the default space, or whatever you find visually pleasing */
	}

/* Container */

	.container {
		margin: 0 auto;
		max-width: 100%;
		width: 1200px;
	}


/* Row */

	.row {
		display: flex;
		flex-wrap: wrap;
		box-sizing: border-box;
		align-items: stretch;
	}

		.row > * {
			box-sizing: border-box;
		}

		.row.gtr-uniform > * > :last-child {
			margin-bottom: 0;
		}

		.row.aln-left {
			justify-content: flex-start;
		}

		.row.aln-center {
			justify-content: center;
		}

		.row.aln-right {
			justify-content: flex-end;
		}

		.row.aln-top {
			align-items: flex-start;
		}

		.row.aln-middle {
			align-items: center;
		}

		.row.aln-bottom {
			align-items: flex-end;
		}

		.row > .imp {
			order: -1;
		}

		.row > .col-1 {
			width: 8.33333%;
		}

		.row > .off-1 {
			margin-left: 8.33333%;
		}

		.row > .col-2 {
			width: 16.66667%;
		}

		.row > .off-2 {
			margin-left: 16.66667%;
		}

		.row > .col-3 {
			width: 25%;
		}

		.row > .off-3 {
			margin-left: 25%;
		}

		.row > .col-4 {
			width: 33.33333%;
		}

		.row > .off-4 {
			margin-left: 33.33333%;
		}

		.row > .col-5 {
			width: 41.66667%;
		}

		.row > .off-5 {
			margin-left: 41.66667%;
		}

		.row > .col-6 {
			width: 50%;
		}

		.row > .off-6 {
			margin-left: 50%;
		}

		.row > .col-7 {
			width: 58.33333%;
		}

		.row > .off-7 {
			margin-left: 58.33333%;
		}

		.row > .col-8 {
			width: 66.66667%;
		}

		.row > .off-8 {
			margin-left: 66.66667%;
		}

		.row > .col-9 {
			width: 75%;
		}

		.row > .off-9 {
			margin-left: 75%;
		}

		.row > .col-10 {
			width: 83.33333%;
		}

		.row > .off-10 {
			margin-left: 83.33333%;
		}

		.row > .col-11 {
			width: 91.66667%;
		}

		.row > .off-11 {
			margin-left: 91.66667%;
		}

		.row > .col-12 {
			width: 100%;
		}

		.row > .off-12 {
			margin-left: 100%;
		}

		.row.gtr-0 {
			margin-top: 0px;
			margin-left: 0px;
		}

			.row.gtr-0 > * {
				padding: 0px 0 0 0px;
			}

			.row.gtr-0.gtr-uniform {
				margin-top: 0px;
			}

				.row.gtr-0.gtr-uniform > * {
					padding-top: 0px;
				}

		.row.gtr-25 {
			margin-top: -12.5px;
			margin-left: -12.5px;
		}

			.row.gtr-25 > * {
				padding: 12.5px 0 0 12.5px;
			}

			.row.gtr-25.gtr-uniform {
				margin-top: -12.5px;
			}

				.row.gtr-25.gtr-uniform > * {
					padding-top: 12.5px;
				}

		.row.gtr-50 {
			margin-top: -25px;
			margin-left: -25px;
		}

			.row.gtr-50 > * {
				padding: 25px 0 0 25px;
			}

			.row.gtr-50.gtr-uniform {
				margin-top: -25px;
			}

				.row.gtr-50.gtr-uniform > * {
					padding-top: 25px;
				}

		.row {
			margin-top: -50px;
			margin-left: -50px;
		}

			.row > * {
				padding: 50px 0 0 50px;
			}

			.row.gtr-uniform {
				margin-top: -50px;
			}

				.row.gtr-uniform > * {
					padding-top: 50px;
				}

		.row.gtr-150 {
			margin-top: -75px;
			margin-left: -75px;
		}

			.row.gtr-150 > * {
				padding: 75px 0 0 75px;
			}

			.row.gtr-150.gtr-uniform {
				margin-top: -75px;
			}

				.row.gtr-150.gtr-uniform > * {
					padding-top: 75px;
				}

		.row.gtr-200 {
			margin-top: -100px;
			margin-left: -100px;
		}

			.row.gtr-200 > * {
				padding: 100px 0 0 100px;
			}

			.row.gtr-200.gtr-uniform {
				margin-top: -100px;
			}

				.row.gtr-200.gtr-uniform > * {
					padding-top: 100px;
				}


/* Section/Article */

	section.special, article.special {
		text-align: center;
	}

	header p {
		color: #999;
		font-size: 1.25em;
		position: relative;
		margin-top: -1.25em;
		margin-bottom: 2.25em;
	}

	header.major {
		text-align: center;
		margin: 0 0 0 0;
	}

		header.major h2 {
			font-size: 2.25em;
		}

		header.major p {
			position: relative;
			border-top: solid 1px #e0e0e0;
			padding: 1em 0 0 0;
			margin: 0;
			top: -1em;
			font-size: 1.5em;
			letter-spacing: -0.025em;
		}

	footer {
		margin: 0 0 3em 0;
	}

		footer > :last-child {
			margin-bottom: 0;
		}

		footer.major {
			padding-top: 3em;
		}


/* Image */

	.image {
		border: 0;
		display: inline-block;
		position: relative;
		border-radius: 5px;
	}

		.image img {
			display: block;
			border-radius: 5px;
		}

		.image.left {
			display: block;
			float: left;
			margin: 0 2em 2em 0;
			position: relative;
			top: 0.25em;
		}

			.image.left img {
				display: block;
				width: 100%;
			}

		.image.fit {
			display: block;
		}

			.image.fit img {
				display: block;
				width: 100%;
			}

		.image.featured {
			display: block;
			margin: 0 0 2em 0;
		}

			.image.featured img {
				display: block;
				width: 100%;
			}

/* Icon */

	.icon {
		text-decoration: none;
		position: relative;
		text-decoration: none;
	}
	.tooltip-icon {
            position: relative;
            display: inline-block;
        }

        .form-group .tooltip-icon:hover .tooltiptext {
            visibility: visible;
            opacity: 1;
        }

        .form-group .tooltiptext {
            visibility: hidden;
            width: 120px;
            background-color: black;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px 0;

            /* Position the tooltip text */
            position: absolute;
            z-index: 1;
            bottom: 150%;
            left: 50%;
            margin-left: -60px;

            /* Fade in tooltip */
            opacity: 0;
            transition: opacity 0.3s;
        }

		.icon:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			display: inline-block;
			font-style: normal;
			font-variant: normal;
			text-rendering: auto;
			line-height: 1;
			text-transform: none !important;
			font-family: 'Font Awesome 5 Free';
			font-weight: 400;
		}

		.icon > .label {
			display: none;
		}

		.icon:before {
			line-height: inherit;
		}

		.icon.solid:before {
			font-weight: 900;
		}

		.icon.brands:before {
			font-family: 'Font Awesome 5 Brands';
		}
		/* Styles the icons */
		.icon.major {
			text-align: center;
			cursor: default;
			background-color: #FF7144;
			color: #fff;
			border-radius: 100%;
			display: inline-block;
			width: 5em;
			height: 5em;
			line-height: 5em;
			box-shadow: 0 0 0 7px white, 0 0 0 8px #e0e0e0;
			margin: 0 0 0em 0;
			margin-top: 0em; /* Adjust this value as needed to reduce the space */
		}

			.icon.major:before {
				font-size: 36px;
			}


/* tooltip logic */
.form-group {
    margin-bottom: 15px;
    position: relative;
}

.form-group label {
    display: flex;
    align-items: center;
    margin: 0 0 5px 0;
    color: #555;
}

.tooltip-icon {
    position: relative;
    display: inline-block;
}

.form-group .tooltip-icon:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}
/* Icons */

	ul.icons {
		cursor: default;
		list-style: none;
		padding-left: 0;
	}

		ul.icons li {
			display: inline-block;
			line-height: 1em;
			padding-left: 1.5em;
		}

			ul.icons li:first-child {
				padding-left: 0;
			}

			ul.icons li a, ul.icons li span {
				font-size: 2em;
				border: 0;
			}

/* Menu */

	ul.menu {
		list-style: none;
		padding-left: 0;
	}

		ul.menu li {
			border-left: solid 1px #e0e0e0;
			display: inline-block;
			padding: 0 0 0 1em;
			margin: 0 0 0 1em;
		}

			ul.menu li:first-child {
				border-left: 0;
				margin-left: 0;
				padding-left: 0;
			}


/* Tables */

	table {
		width: 100%;
	}

		table.default {
			width: 100%;
		}

			table.default tbody tr {
				border-bottom: solid 1px #e0e0e0;
			}

			table.default td {
				padding: 0.5em 1em 0.5em 1em;
			}

			table.default th {
				font-weight: 600;
				padding: 0.5em 1em 0.5em 1em;
				text-align: left;
			}

			table.default thead {
				background-color: #555555;
				background-image: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15)), url("images/bg01.png");
				background-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15)), url("images/bg01.png");
				background-image: -ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15)), url("images/bg01.png");
				background-image: linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15)), url("images/bg01.png");
				color: #fff;
			}

/* Button */

	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	button,
	.button {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
		-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
		-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
		transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
		background-image: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15)), url("images/bg01.png");
		background-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15)), url("images/bg01.png");
		background-image: -ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15)), url("images/bg01.png");
		background-image: linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15)), url("images/bg01.png");
		background-color: #FF7144;
		border-radius: 5px;
		border: 0;
		color: #fff !important;
		cursor: pointer;
		display: inline-block;
		padding: 0 1.5em;
		line-height: 2.75em;
		min-width: 9em;
		text-align: center;
		text-decoration: none;
		font-weight: 600;
		letter-spacing: -0.025em;
	}

		input[type="submit"]:hover,
		input[type="reset"]:hover,
		input[type="button"]:hover,
		button:hover,
		.button:hover {
			background: #eb5c30; /* Background color on hover */
			color: #fff !important; /* Text color on hover */
		}

		input[type="submit"]:active,
		input[type="reset"]:active,
		input[type="button"]:active,
		button:active,
		.button:active {
			background-color: #FF7144;
			color: #fff !important;
		}

		input[type="submit"].alt,
		input[type="reset"].alt,
		input[type="button"].alt,
		button.alt,
		.button.alt {
			background-color: #555555;
			color: #fff !important;
		}

			input[type="submit"].alt:hover,
			input[type="reset"].alt:hover,
			input[type="button"].alt:hover,
			button.alt:hover,
			.button.alt:hover {
				background-color: #626262;
			}

			input[type="submit"].alt:active,
			input[type="reset"].alt:active,
			input[type="button"].alt:active,
			button.alt:active,
			.button.alt:active {
				background-color: #484848;
			}

		input[type="submit"].icon:before,
		input[type="reset"].icon:before,
		input[type="button"].icon:before,
		button.icon:before,
		.button.icon:before {
			margin-right: 0.5em;
		}

		input[type="submit"].fit,
		input[type="reset"].fit,
		input[type="button"].fit,
		button.fit,
		.button.fit {
			width: 100%;
		}

		input[type="submit"].small,
		input[type="reset"].small,
		input[type="button"].small,
		button.small,
		.button.small {
			font-size: 0.8em;
		}

/* Box */

	.box.highlight {
		text-align: center;
	}

	.box.post {
		position: relative;
	}

		.box.post:after {
			content: '';
			display: block;
			clear: both;
		}

		.box.post .inner {
			margin-left: calc(30% + 2em);
		}

			.box.post .inner > :last-child {
				margin-bottom: 0;
			}

		.box.post .image {
			width: 30%;
			margin: 0;
		}

/* Header */

	#header {
		text-align: center;
		padding: 3em 0 0 0;
		background-color: #fff;
		background-image: url("images/bg02.png"), url("images/bg02.png"), url("images/bg01.png");
		background-position: top left,					top left,					top left;
		background-size: 100% 6em,					100% 6em,					auto;
		background-repeat: no-repeat,					no-repeat,					repeat;
	}

		#header h1 {
			padding: 0 0 2.75em 0;
			margin: 0;
		}

			#header h1 a {
				font-size: 1.5em;
				letter-spacing: -0.025em;
				border: 0;
			}

			#nav {
				cursor: default;
				background-color: #333;
				display: flex;
				align-items: center; /* Vertically center the items in the navbar */
				justify-content: center; /* This will center the title in the nav bar */
				padding: 3em 0; /* Increase the vertical padding */
    			position: relative;
			}
			
			/* This styles the login button */
			#nav > ul {
				list-style: none;
				padding: 60px;
				margin: 0;
				display: flex;
				position: absolute; /* Absolute position to remove it from the flow and let the title center */
				right: 0; /* Align it to the right */
				top: 50%;
    			transform: translateY(-50%);
			}
			
			/* Center the logo inside the nav bar */
			#nav #header-title {
				max-height: 35%; /* Make sure the logo is not bigger than the navbar */
				max-width: 50%; /* Ensures the logo width does not exceed the navbar width */
				height: auto; /* Maintain aspect ratio */
				position: relative; /* Relative to the nav bar */
			}
			
			#nav > ul > li {
				margin-right: 1em; /* Spacing between menu items */
				margin-left: 1em; /* Ensure spacing on both sides for symmetry */
			}
			
			#nav > ul > li a {
				color: #c0c0c0;
				text-decoration: none;
				border: 0;
				padding: 4px 8px;
				/* padding: 1.5em 0.5em 1.35em 0.5em; */
				display: block;
			}
			
			#nav > ul > li:hover a {
				color: #fff;
			}
			
			#nav > ul > li.current {
				font-weight: 600;
			}
			
			#nav > ul > li.current:before {
				-moz-transform: rotateZ(45deg);
				-webkit-transform: rotateZ(45deg);
				-ms-transform: rotateZ(45deg);
				transform: rotateZ(45deg);
				width: 0.75em;
				height: 0.75em;
				content: '';
				display: block;
				position: absolute;
				bottom: -0.5em;
				left: 50%;
				margin-left: -0.375em;
				background-color: #FF7144;
				background-image: url("images/bg01.png");
			}

			.button.login-button {
				display: block; /*Block level makes the button extend full width of the container */
				width: 100%;
				padding: 8px;
				margin-top: 6px;
				background-color: #FF7144; /* Your theme's button color */
				color: white;
				border: none;
				border-radius: 5px;
				cursor: pointer;
				font-size: 14pt;
			}
			
			#nav > ul > li.current a {
				color: #fff;
			}
			
			#nav > ul > li.active a {
				color: #fff;
			}
			
			#nav > ul > li.active.current:before {
				opacity: 0;
			}
			
			#nav > ul > li > ul {
				display: none;
			}
			
			


/* Banner */

	#banner {
		background-image: url("../pic1.png");
		background-position: center center;
		background-size: cover;
		height: 28em;
		text-align: center;
		position: relative;
	}

		#banner header {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			background: #212121;
			background: rgba(27, 27, 27, 0.75);
			color: #fff;
			padding: 1.5em 0;
		}

			#banner header h2 {
				display: inline-block;
				margin: 0;
				font-size: 1.25em;
				vertical-align: middle;
			}

				#banner header h2 em {
					opacity: 0.75;
				}

				#banner header h2 a {
					border-bottom-color: rgba(255, 255, 255, 0.5);
				}

					#banner header h2 a:hover {
						border-bottom-color: transparent;
					}

			#banner header .button {
				display: inline-block;
				vertical-align: middle;
				font-size: 14pt;
			}

/* Wrapper */

	.wrapper {
		padding: 5em 0 3em 0;
	}

		.wrapper.style1 {
			background: #333;
		}

		.wrapper.style2 {
			background-color: #333;
			background-image: url("images/bg02.png"), url("images/bg03.png"), url("images/bg01.png");
			background-position: top left,						bottom left,					top left;
			background-size: 100% 6em,						100% 6em,						auto;
			background-repeat: no-repeat,						no-repeat,						repeat;
		}

		.wrapper.style3 {
			background-color: #FF7144;
			background-image: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15)), url("images/bg01.png");
			background-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15)), url("images/bg01.png");
			background-image: -ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15)), url("images/bg01.png");
			background-image: linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15)), url("images/bg01.png");
			color: #fff;
		}

		.wrapper.style2 .major p {
			color: #FFFFFF; /* Sets the paragraph text to white */
		}

			.wrapper.style3 .button {
				background: #424242;
				color: #333;
			}

				.wrapper.style3 .button:hover {
					background: #575757; /* Background color on hover */
					color: #fff; /* Text color on hover */
				}

/* CTA */

	#cta {
		text-align: center;
		padding: 3.5em 0;
	}

		#cta  h2 {
			display: inline-block;
			vertical-align: middle;
			margin: 0;
		}

		#cta header .button {
			vertical-align: middle;
			font-size: 14pt;
		}

/* Footer */

	#footer {
		padding: 2em 0 1em 0;
	}

		#footer a {
			color: inherit;
			border-bottom-color: rgba(71, 71, 71, 0.25);
		}

			#footer a:hover {
				color: #ff8000;
				border-bottom-color: transparent;
			}

		#footer .container {
			margin-bottom: 4em;
		}

		#footer .icons {
			text-align: center;
			margin: 0;
		}

			#footer .icons a {
				color: #999;
			}

				#footer .icons a:hover {
					color: #474747;
				}

		#footer .copyright {
			color: #999;
			margin-top: 0em;
			text-align: center;
			font-size: 0.9em;
		}

	

/* Narrower */

	#navPanel, #titleBar {
		display: none;
	}

/* Reset any specific styles that may interfere */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navigation Bar */
#nav {
  background: #333;
  color: white;
  padding: 1em 0; /* Adjust as needed */
  text-align: center; /* This centers the content in the nav bar */
}

/* Login Container */
.login-container {
	text-align: center;
	font-size: 20pt;
	max-width: 400px;
	margin: 2em auto; /* This centers the login form on the page and adds spacing from the top */
	padding: 2em;
	background: #222; /* Or any other color */
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	max-width: 400px;
	margin-top: 100px; /* This value should be at least equal to the height of the nav bar */
}

/* Inputs and Buttons */
.form-group {
  margin-bottom: 1em;
}

.form-group label {
	text-align: left;
	font-size: large;
  color: white;
  display: block;
}

.form-group input {
	font-size: large;
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc; /* Light grey border */
  background: #333; /* Slightly lighter than the container for contrast */
  color: white;
}
select {
	font-size: large;
  width: 100%;
  padding: 10px;
  margin-top: 5px;    
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 3px;
  color: black;
}
.button {
  display: block; /* Block level makes the button extend full width of the container */
  width: 100%;
  padding: 8px;
  margin-top: 10px;
  background-color: #FF7144; /* Your theme's button color */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12pt;
}

.create-user-container {
	text-align: center;
	max-width: 400px;
	margin: 2em auto; /* This centers the login form on the page and adds spacing from the top */
	padding: 2em;
	background: #222; /* Or any other color */
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	max-width: 400px;
	margin-top: 120px; /* This value should be at least equal to the height of the nav bar */
  }

.message {
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 20px;
	text-align: center;
	font-size: 1em;
  }
  
  .success {
	font-size: 16pt;
	text-align: center;
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;
  }
  
  .error{
	font-size: 16pt;
	font-weight: bold;
	text-align: center;
	color: #c51916;
	background-color: rgba(250, 199, 199, 0.702);
  }

  /* Admin/user pages */

.user-page{
	background-color:#f4f4f4;
	color: #333; /*dark grey text*/
}

.user-page header{
	background-color: #b6b5b5; /* Dark header */
    color: rgb(9, 8, 8); /* White text */
    padding: 20px 0;
    text-align: center;
}

  /* Nav styles specific to admin page */
.user-page nav {
    background-color: #838181; /* Darker grey for nav */
    padding: 10px;
    text-align: center;
}

/* Anchor styles within nav on admin page */
.user-page nav a {
    color: rgb(240, 239, 239);
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
	border-bottom-color: transparent;
}

/* Main content area on admin page */
.user-page main {
	text-align: center;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff; /* White background for contrast */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
}

/* Admin page button styles */
.user-page .action-btn {
    background-color: #ff8000; /* Brand color for action buttons */
    color: white;
	border: none;
    padding: 12px 24px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
    margin-right: 10px;
}

/* Admin page specific button hover effects */
.user-page .action-btn:hover {
    background-color: #ff9933; /* Lighter orange on hover */
}