{% extends 'base.html' %}
{% load static%}
{% block content %}
<body class="login-page">
	<div class="login-container">
		<h1>Add Service</h1>
		<form method="post">
			{% csrf_token %}
			{% if messages %}
				{% for message in messages %}
					<div class="{{ message.tags }}">{{ message }}</div>
				{% endfor %}
			{% endif %}
			<div class="form-group">
				<!-- service name -->
				<label for="service-name">Service Name:
					<abbr class="tooltip-icon">
						<img src="{% static 'info_icon.png' %}" alt="Info" style="width: 16px; height: 16px;">
						<span class="tooltiptext">Enter a unique name for the service</span>
					</abbr>
				</label>
				<input type="text" id="service-name" name="service_name" value="{{ service_name|default:'' }}">
			</div>        
			<div class="form-group">
				<!-- protocol -->
				<label for="application">TCP/UDP:
					<abbr class="tooltip-icon">
						<img src="{% static 'info_icon.png' %}" alt="Info" style="width: 16px; height: 16px;">
						<span class="tooltiptext">Enter tcp or udp</span>
					</abbr>
				</label>
				<input type="text" id="protocol" name="protocol" value="{{ protocol|default:'' }}">
			</div> 
		
			<div class="form-group">
				<!-- port -->
				<label for="service">Port:
					<abbr class="tooltip-icon">
						<img src="{% static 'info_icon.png' %}" alt="Info" style="width: 16px; height: 16px;">
						<span class="tooltiptext">Enter an allowed port (ex. 12345)</span>
					</abbr>
				</label>
				<input type="text" id="port" name="port" value="{{ port|default:'' }}">
			</div> 
			<div class="form-group action">
				<button type="submit" class="button">Add Service</button>
			</div>

			<div class="form-group action">
				<!-- back button -->
				{% if request.user.is_superuser %}
				<button type="button" class="button" onclick="location.href='{% url 'custom_admin' %}'">Back</button>
				{% else %}
				<button type="button" class="button" onclick="location.href='{% url 'user' %}'">Back</button>
				{% endif %}
			</div>
		</form>
	</div>
</body>
{% endblock %}
