{% extends 'base.html' %}

{% block title %}Login{% endblock title %}

{% block content %}

<body class="user-page">
    <div class="user-page"></div>
    {% csrf_token %}
            {% if messages %}
                {% for message in messages %}
                    <div class="{{ message.tags }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
    <nav>
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'add_rule' %}">View Rules</a>
    </nav>

    <main>
        <h2>Welcome, Admin!</h2>
        <p>This is your dashboard.</p>

        <div class="form-group action">
            <button type="button" onclick="location.href='{% url 'add_rule' %}' " class="button">Add Rule</button>
            <button type="button" onclick="location.href='{% url 'delete_rule' %}' " class="button">Delete Rule</button>
            <button type="button" onclick="location.href='{% url 'commit_rule' %}' " class="button">Commit Rule</button>
            <button type="button" onclick="location.href='{% url 'upload' %}' " class="button">Upload Security Config</button>
            <form action="{% url 'get_pan_security_config' %}" method="post">
                {% csrf_token %}
                <button class="button" type="submit">Download Security Policy</button>
            </form>
        </div>
    </main>
</body>
{% endblock content %}