<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Phoenix Firewall{% endblock title %}</title>
    <!-- load static files -->
    {% load static %}
    <!-- link to main.css -->
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
</head>
<body>
    <nav id="nav">
        <a href="{% url 'home' %}">
            <!-- display Phoenix Firewall logo -->
            <img id="header-title" src="{% static 'assets/css/images/phoenix_logo.png' %}" alt="Phoenix Firewall Logo">
        </a>
    </nav>
    <!-- content block -->
    {% block content %}
    {% endblock content %}
</body>
</html>
