{% extends 'base.html' %}


{% block content %}

    <!-- display error message -->
    {% if error %}
        <p style="color: red; text-align: center;">{{ error }}</p>
    {% endif %}

    {% if success %}
        <p style="color: green; text-align: center;">{{ success }}</p>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <label for="rule-name">Rule Name:</label>
        <input type="text" id="rule-name" name="rule_name" value="{{ rule_name|default:'' }}">

        <label for="destination-zone">Destination Zone:</label>
        <input type="text" id="destination-zone" name="destination_zone" value="{{ destination_zone|default:''}}">

        <label for="port">Port:</label>
        <input type="text" id="destination-ip" name="destination_ip" value="{{ destination_ip|default:'' }}">

        <input type="submit" value="Commit Rule">
        <a href="{% url 'user' %}">
            <input type="button" name="Back" value="Back">
        </a>
    </form>
{% endblock %}
