{% extends 'base.html' %}
{% load static %}
{% block content %}
<body class="login-page">
	<div class="login-container">
		<h1>Commit to Firewall</h1>
		<form method="post">
			{% csrf_token %}
			{% if messages %}
				{% for message in messages %}
					<div class="{{ message.tags }}">{{ message }}</div>
				{% endfor %}
			{% endif %}
			
			<!-- commit rule button -->
			<div class="form-group action">
				<button type="submit" class="button">Commit</button>
			</div>

			<!-- back button -->
			<div class="form-group action">
				{% if request.user.is_superuser %}
				<button type="button" class="button" onclick="location.href='{% url 'custom_admin' %}'">Back</button>
				{% else %}
				<button type="button" class="button" onclick="location.href='{% url 'user' %}'">Back</button>
				{% endif %}
			</div>
		</form>
	</div>
</body>
{% endblock %}
