{% extends 'base.html' %}
{% load static %}
{% block content %}
<body class="login-page">
	<div class="login-container">
		<h1>Commit Rule</h1>
		<form method="post">
			{% csrf_token %}
			{% if messages %}
				{% for message in messages %}
					<div class="{{ message.tags }}">{{ message }}</div>
				{% endfor %}
			{% endif %}
			<!-- rule name -->
			<div class="form-group">
				<label for="rule-name">Rule Name:
					<abbr class="tooltip-icon">
						<img src="{% static 'info_icon.png' %}" alt="Info" style="width: 16px; height: 16px;">
						<span class="tooltiptext">Enter the name of an existing firewall rule to be commited</span>
					</abbr>
				</label>
				<input type="text" id="rule-name" name="rule_name" value="{{ rule_name|default:'' }}">
			</div>

			<!-- destination zone -->
			<div class="form-group">
				<label for="destination-zone">Destination Zone:
					<abbr class="tooltip-icon">
						<img src="{% static 'info_icon.png' %}" alt="Info" style="width: 16px; height: 16px;">
						<span class="tooltiptext">Destination Zones: Internal, DMZ, Internet</span>
					</abbr>
				</label>
				<input type="text" id="destination-zone" name="destination_zone" value="{{ destination_zone|default:'' }}">
			</div>

			<!-- port -->
			<div class="form-group">
				<label for="service">Port:
					<abbr class="tooltip-icon">
						<img src="{% static 'info_icon.png' %}" alt="Info" style="width: 16px; height: 16px;">
						<span class="tooltiptext">Enter an allowed port (ex. 12345)</span>
					</abbr>
				</label>
				<input type="text" id="service" name="service" value="{{ service|default:'' }}">
			</div>

			<!-- commit rule button -->
			<div class="form-group action">
				<button type="submit" class="button">Commit Rule</button>
			</div>

			<!-- back button -->
			<div class="form-group action">
				{% if request.user.is_superuser %}
				<button type="button" class="button" onclick="location.href='{% url 'custom_admin' %}'">Back</button>
				{% else %}
				<button type="button" class="button" onclick="location.href='{% url 'user' %}'">Back</button>
				{% endif %}
			</div>
		</form>
	</div>
</body>
{% endblock %}
