{% extends 'base.html' %}

{% block content %}
<h1>{{ role }}</h1>
    <form method="post">
        {% csrf_token %}
       <label for="rule-name">Rule Name:</label>
        <input type="text" id="rule-name" name="rule_name">

        <label for="ip">IP:</label>
        <input type="text" id="ip" name="ip">

        <label for="port">Port (Use 12345):</label>
        <input type="text" id="port" name="port">

        <input type="submit" id= "submit" value= "Delete Rule">
        <a href="{% url 'user' %}">
            <input type="button" name="Back" value="Back">
        </a>
    </form>
{% endblock %}
