{% extends 'base.html' %}
{% load static %}

{% block content %}
<body class="login-page">
	<div class="login-container">
		<h1>Delete Rule</h1>    

		<!-- form for deleting a rule -->
		<form method="post">
			{% csrf_token %}

			<!-- rule name -->
			<div class="form-group">
				<label for="rule-name">Rule Name:
					<abbr class="tooltip-icon">
						<img src="{% static 'info_icon.png' %}" alt="Info" style="width: 16px; height: 16px;">
						<span class="tooltiptext">Enter the name of an existing firewall rule to be deleted</span>
					</abbr>
				</label>
				<input type="text" id="rule-name" name="rule_name" value="{{ rule_name|default:'' }}" placeholder="Enter a Rule Name (ex. myrule)">
			</div>

			<!-- application -->
			<div class="form-group">
				<label for="application">Protocol:
					<abbr class="tooltip-icon">
						<img src="{% static 'info_icon.png' %}" alt="Info" style="width: 16px; height: 16px;">
						<span class="tooltiptext">Enter a protocol (ex. ssh)</span>
					</abbr>
				</label>
				<input type="text" id="application" name="application" value="{{ application|default:'' }}" placeholder="Enter a Protocol (ex. ssh)">
			</div>	
	
			<!-- service -->
			<div class="form-group">
				<label for="service">Service:
					<abbr class="tooltip-icon">
						<img src="{% static 'info_icon.png' %}" alt="Info" style="width: 16px; height: 16px;">
						<span class="tooltiptext">Enter an allowed service (ex. tcp-22)</span>
					</abbr>
				</label>
				<input type="text" id="service" name="service" value="{{ service|default:'' }}" placeholder="Enter a Service (ex. tcp-22)">
			</div>

			<!-- delete rule button -->
			<div class="form-group action">
				<button type="submit" class="button">Delete Rule</button>
			</div>
			
			<!-- back button -->
			<div class="form-group action">
				{% if request.user.is_superuser %}
				<button type="button" class="button" onclick="location.href='{% url 'custom_admin' %}'">Back</button>
				{% else %}
				<button type="button" class="button" onclick="location.href='{% url 'user' %}'">Back</button>
				{% endif %}
			</div>
		</form>
	</div>
</body>
{% endblock %}
