{% extends 'base.html' %}
{% load static %}

{% block content %}
<body class="login-page">
	<div class="login-container">
		<h1>Delete Rule</h1>    

		<!-- form for deleting a rule -->
		<form method="post">
			{% csrf_token %}

			<!-- rule name -->
			<div class="form-group">
				<label for="rule-name">Rule Name:
					<abbr class="tooltip-icon">
						<img src="{% static 'info_icon.png' %}" alt="Info" style="width: 16px; height: 16px;">
						<span class="tooltiptext">Enter the name of an existing firewall rule to be deleted</span>
					</abbr>
				</label>
				<input type="text" id="rule-name" name="rule_name" value="{{ rule_name|default:'' }}">
			</div>

			<!-- ip -->
			<div class="form-group">
				<label for="ip">IP:
					<abbr class="tooltip-icon">
						<img src="{% static 'info_icon.png' %}" alt="Info" style="width: 16px; height: 16px;">
						<span class="tooltiptext">Enter an IP in the format X.X.X.X</span>
					</abbr>
				</label>
				<input type="text" id="ip" name="ip" value="{{ ip|default:'' }}">
			</div>	
	
			<!-- port -->
			<div class="form-group">
				<label for="service">Port:
					<abbr class="tooltip-icon">
						<img src="{% static 'info_icon.png' %}" alt="Info" style="width: 16px; height: 16px;">
						<span class="tooltiptext">Enter an allowed port (ex. 12345)</span>
					</abbr>
				</label>
				<input type="text" id="service" name="service" value="{{ service|default:'' }}">
			</div>

			<!-- delete rule button -->
			<div class="form-group action">
				<button type="submit" class="button">Delete Rule</button>
			</div>
			
			<!-- back button -->
			<div class="button" style="display: flex; flex-direction: column; padding: 0px;">
				{% if request.user.is_superuser %}
				<button type="button" class="button" onclick="location.href='{% url 'custom_admin' %}'">Back</button>
				{% else %}
				<button type="button" class="button" onclick="location.href='{% url 'user' %}'">Back</button>
				{% endif %}
			</div>
		</form>
	</div>
</body>
{% endblock %}
