{% extends 'rule_base.html' %}
{% load static %}
{% block content %}
    <form method="post">
        {% csrf_token %}
	<div class="form-group">
            <label for="rule-name">Rule Name:
                <abbr class="tooltip-icon">
                    <img src="{% static 'info_icon.png' %}" alt="Info" style="width: 16px; height: 16px;">
                    <span class="tooltiptext">Enter a unique name for the firewall rule</span>
                </abbr>
            </label>
            <input type="text" id="rule-name" name="rule_name" value="{{ rule_name|default:'' }}">
        </div>

	<div class="form-group">
            <label for="ip">IP:
                <abbr class="tooltip-icon">
                    <img src="{% static 'info_icon.png' %}" alt="Info" style="width: 16px; height: 16px;">
                    <span class="tooltiptext">Enter an IP in the format X.X.X.X</span>
                </abbr>
            </label>
            <input type="text" id="ip" name="ip" value="{{ ip|default:'' }}">
        </div>	
	
	<div class="form-group">
            <label for="service">Port:
                <abbr class="tooltip-icon">
                    <img src="{% static 'info_icon.png' %}" alt="Info" style="width: 16px; height: 16px;">
                    <span class="tooltiptext">Enter an allowed port (ex. 12345)</span>
                </abbr>
            </label>
            <input type="text" id="service" name="service" value="{{ service|default:'' }}">
        </div>
	
	<input type="submit" id= "submit" value= "Delete Rule">
	
	<a href="{% url 'user' %}">
		<input type="button" name="Back" value="Back">
	</a>
    </form>
{% endblock %}
