<!DOCTYPE HTML>

<html>
<head>
    <title>Homepage</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">

</head>
<body class="is-preload">
    <div id="page-wrapper">

        <!-- Header -->
        <div id="header">

            <!-- Logo -->
            <h1><a href="" id="logo">Phoenix <em>Firewall Application</em></a></h1>
            {% load static %}
            <img src="{% static 'logo.png' %}" alt="Logo" style="width: 100px; height: auto">

            <!-- Nav -->
            <nav id="nav">
                <ul>
                    <li class="current"><a href="">Home</a></li>
                    <li><a href="{% url 'login' %}">Log In</a></li>
                    <li><a href="{% url 'login' %}">Firewall Status</a></li>
                </ul>
            </nav>

        </div>

        <!-- Banner -->
        <section id="banner">
            <header>
                <h2>Don't have an account?</h2>
                <a href="{% url 'create_user' %}" class="button">Create User</a>
            </header>
        </section>

        <!-- Highlights -->
        <section class="wrapper style1">
            <div class="container">
                <div class="row gtr-200">
                    <section class="col-4 col-12-narrower">
                        <div class="box highlight">
                            <i class="icon solid major fa-users"></i>
                            <h3>User Friendly</h3>
                            <p>Enhance efficiency</p>
                        </div>
                    </section>
                    <section class="col-4 col-12-narrower">
                        <div class="box highlight">
                            <i class="icon solid major fa-lock"></i>
                            <h3>Secure</h3>
                            <p>Quicker response time to threats</p>
                        </div>
                    </section>
                    <section class="col-4 col-12-narrower">
                        <div class="box highlight">
                            <i class="icon solid major fa-laptop-code"></i>
                            <h3>Automation</h3>
                            <p>Minimize manual oversight</p>
                        </div>
                    </section>
                </div>
            </div>
        </section>

        <!-- Gigantic Heading -->
        <section class="wrapper style2">
            <div class="container">
                <header class="major">
                    <h2>Phoenix Firewall Application</h2>
                    <p>Our application features comprehensive user access control, implementing checks and balances to prevent error-prone rule implementations that could compromise network integrity</p>
                </header>
            </div>
        </section>


        <!-- CTA -->
        <section id="cta" class="wrapper style3">
            <div class="container">
                <header>
                    <h2>Are you ready to control your network?</h2>
                    <a href="{% url 'login' %}" class="button">Log In</a>
                </header>
            </div>
        </section>

        <!-- Footer -->
        <div id="footer">
            

            <!-- Icons -->
            <ul class="icons">
                <li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
                <li><a href="#" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
                
            </ul>

        </div>

    </div>

</body>
</html>
