/* styles.css */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

.login-form {
    width: 200px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.login-form h2 {
    margin-bottom: 20px;
}

.login-form label,
.login-form input,
.login-form button {
    display: block;
    margin-bottom: 15px;
}

.login-form button {
    background-color: #ff8000;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
